.navbar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.link{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color: green;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.card-title{
    background-color: antiquewhite;
    padding: 7px;
    display: flex;
    justify-content: center;
}
.critical{
    background-color: aquamarine;
    padding: 7px;   
    border-radius: 5px;
}

.death{
    background-color: lightcoral;
    padding: 7px;
    border-radius: 5px;
}
.updateddate{
    display: flex;
    justify-content: center;
}
.prevention{
    height: auto;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-title,.countynotfound{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-caption{
    color: black;
    font-weight: bold;
    top:100px
}

.textimage{
    width: 100%;
}